{% extends 'base.html' %}
{%  block body %}
<form method="post" enctype="multipart/form-data" style="margin:50px 0px; padding-left:100px;">
    {% csrf_token %}
    <h2>Add a new movie</h2>
    <input type="text" name="name" placeholder="Enter the movie name"><br><br>
    <textarea name="desc" placeholder="Enter the movie Description" cols="23" rows="10"></textarea><br><br>
    <input type="text" name="year" placeholder="Enter the Year"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit" class="btn btn-primary">
    <a href="/" type="button" class="btn btn-secondary">back</a>
</form>
{% endblock %}